.base-container {
    width: auto;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}
.base-container.dark {
    background: #000;
}
.base-container.dark * {
    color: #fff;
}
.base-container__large .constraint {
    max-width: 1200px;
}
.base-container .constraint {
    margin: 0 auto;
    width: 100%;
}
.g__copy--dark {
    color: #ffffff;
    background: #000000;
}
.g__copy {
    display: block;
    margin-bottom: 2rem;
}
.g__copy--center, .g__copy--center th {
    text-align: center;
}
.g__copy--large, .g__copy--large table, .g__copy--intro, .g__copy--intro table {
    font-size: 1.125rem;
}

.g__copy--large, .g__copy--large table, .g__copy--intro, .g__copy--intro table {
    font-size: 1.125rem;
}

.cta-button {
    margin: 2rem 0;
    font-family: inherit;
    transition: background .2s;
    text-transform: uppercase;
    outline: none;
    font-weight: 400;
    padding: 0.75em 1.5em;
    font-size: .9rem;
    display: inline-block;
    text-align: center;
    word-break: break-word;
}
.cta-button.dark {
    background: 0 0;
    color: #fff;
    border: solid 1px #fff;
}
.cta-button.dark:link, .cta-button.dark:visited, .cta-button.dark:hover, .cta-button.dark:focus, .cta-button.dark:active {
    color: #fff;
}
.cta-button.dark:hover {
    border: solid 1px #000;
    background: #fff;
    color: #000;
}
.cta-button.center {
    align-self: center;
}
.center * {
    text-align: center;
}
