.ais-SearchBox-form {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    @apply flex items-center;
    border-bottom: solid 2px rgba(60,64,67,.16);
}

.ais-SearchBox-form .ais-SearchBox-input {
    width: 100%;
    border: none;
    /* border-bottom: solid 1px rgba(60,64,67,.16); */
    /* transition: border-bottom .25s ease; */
    padding: 3rem 0;
    font-size: 1.5rem;
    /* font-family: 'roboto'; */
    font-weight: 400;
    display: block;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1rem;
    box-sizing: border-box;
    border-bottom: 0px !important;

}
.ais-SearchBox-form .ais-SearchBox-input:focus {
    outline: none;
    border: 0px;
    border-bottom: solid 1px rgba(60,64,67,.16);
    box-shadow: none;
}
input:focus-visible {
    outline-offset: 0px;
}


.results {
    background: #eee;
    box-shadow: 0 0 6px #00000029;
    padding: 2rem 0;
}
.results__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.ais-StateResults {
    font-family: Roboto,Noto Sans TC,Noto Sans SC,Noto Sans JP,Noto Sans KR,Prompt,sans-serif;
}
.results-found {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 1rem 2rem;
}
.ais-StateResults {
    font-family: Roboto,Noto Sans TC,Noto Sans SC,Noto Sans JP,Noto Sans KR,Prompt,sans-serif;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto,Noto Sans TC,Noto Sans SC,Noto Sans JP,Noto Sans KR,Prompt,sans-serif;
    font-weight: 400;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px #3c404314, 0 1px 3px 1px #3c404329;
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
    padding: 1rem;
    width: calc(100% - 2rem);
    margin: 1rem;
    min-height: 0;
}
.card:hover {
    box-shadow: 0 1px 3px 1px #3c404333, 0 2px 8px 4px #3c40431a;
}
.card:link, .card:visited, .card:hover, .card:active {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.card__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-family: 'oswald';
    font-weight: 400;
    letter-spacing: .05rem;
    line-height: 1.25;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.card__name {
    font-size: .9rem;
    color: #000;
    margin: 0;
    margin-bottom: 0.5rem;
    word-break: break-word;
    font-weight: 700;
}
.card__description {
    font-size: .9rem;
    color: #000;
    margin: 0;
}
@media screen and (min-width: 580px){
    .results .card {
        width: calc(50% - 2rem);
    }
}
@media screen and (min-width: 768px){
    .results .card {
        width: calc(33.3333333333% - 2rem);
    }

    h2 {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px){
    .ais-SearchBox-form .ais-SearchBox-input {
        padding: 3rem 0;
    }
    .results .card {
        width: calc(25% - 2rem);
    }
}

